<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Clientes.Properties.Settings.conexion" connectionString="Data Source=192.168.0.20;Initial Catalog=BDClientes;Persist Security Info=True;User ID=Comun;Password=password"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>